<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>ATY,Version</key>
	<string>1.7f3</string>
	<key>IONDRVList</key>
	<array>
		<string>ATY,Rage128P2ks</string>
		<string>ATY,Rage128k</string>
		<string>ATY,Rage128Pk</string>
		<string>ATY,Rage128Pd</string>
		<string>ATY,Rage128Ps</string>
		<string>ATY,RageM3p</string>
		<string>ATY,RageM3p1</string>
		<string>ATY,RageM3p12</string>
		<string>ATY,mach64_3DU</string>
		<string>ATY,mach64_3DUPro</string>
		<string>ATY,RageLTPro</string>
		<string>ATY,264LTPro</string>
		<string>ATY,264LT-G</string>
		<string>ATY,mach64</string>
	</array>
</dict>
</plist>
