<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
    <plist version="0.9">
    <dict>
    	<key>IONDRVList</key>
    	<array>
    		<string>NVDA,NVMac</string>
    		<string>NVDA,Parent</string>
    		<string>NVDA,Display-A</string>
    		<string>NVDA,Display-B</string>
    	</array>
    	<key>NVDA,Version</key>
    	<string>3.8.0b6</string>
    </dict>
    </plist>
