<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>BuildVersion</key>
	<string>2</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.6</string>
	<key>CFBundleVersion</key>
	<string>1.1.6</string>
	<key>ProjectName</key>
	<string>drvIONDRV</string>
	<key>ReleaseStatus</key>
	<string>Dev</string>
	<key>SourceVersion</key>
	<string>800100</string>
</dict>
</plist>
